<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>DevicesAddServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.DevicesServlet.DevicesAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceDelServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.DevicesServlet.DeviceDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevicesUpdateServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.DevicesServlet.DevicesUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevicesFindAllServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.DevicesServlet.DevicesFindAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevicesFindAllServlet</servlet-name>
        <url-pattern>/DevicesFindAllServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DevicesFindByIdServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.DevicesServlet.DevicesFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.UserServlet.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelServlet</servlet-name>
        <servlet-class>com.HiSmartHome.servlet.UserServlet.UserDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDelServlet</servlet-name>
        <url-pattern>/UserDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/UserAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevicesFindByIdServlet</servlet-name>
        <url-pattern>/DevicesFindByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevicesUpdateServlet</servlet-name>
        <url-pattern>/DevicesUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceDelServlet</servlet-name>
        <url-pattern>/DeviceDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevicesAddServlet</servlet-name>
        <url-pattern>/DevicesAddServlet</url-pattern>
    </servlet-mapping>
</web-app>
